{% extends 'base.html'%} 
    
   {%load static %}
  

    {% block content %}
     <div class="col-md-9">
      <div class="row">
        {% for product in page_object %}
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <div class="product-card shadow-sm h-100 rounded">
            {% if product.images %}
              <img src="{{ product.images.url }}" class="card-img-top" style="height: 180px; object-fit: contain;"  alt="{{ product.product_name }}">
            {% else %}
              <img src="{% static 'images/no-image.png' %}" class="card-img-top" style="height: 180px; object-fit: contain;"  alt="No Image">
            {% endif %}
            <div class="p-3 text-center">
              <h6 class="card-title">{{ product.product_name |truncatewords:6 }}</h6>
              <div class="mb-1">
                    <span class="text-muted text-decoration-line-through me-2 price-sm">₹{{ product.original_price }}</span>
                    <span class="text-danger fw-bold price-sm">₹{{ product.discount_price }}</span>
                  </div>

                  <span class="text-success small d-block mb-2"><i class="fas fa-shipping-fast me-1"></i>Free shipping</span>
              <a href="{% url 'add_to_cart' product.id %}" class="btn btn-sm btn-dark">Add to Cart</a> 
              <button class="btn btn-sm btn-warning">Buy Now</button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>