{% extends 'base.html'%} 
    
   {%load static %}
  

    {% block content %}
<h2>Add New Address</h2>

<form method="POST" class="form-light shadow-sm">
  {% csrf_token %}
  <h5 class="mb-3">Shipping Address</h5>

  <div class="mb-3">
    <label for="full_name" class="form-label">Full Name</label>
    <input type="text" class="form-control" id="full_name" name="full_name" required>
  </div>

  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <input type="tel" class="form-control" id="phone" name="phone" required>
  </div>

  <div class="mb-3">
    <label for="pincode" class="form-label">Pincode</label>
    <input type="text" class="form-control" id="pincode" name="pincode" required>
  </div>

  <div class="mb-3">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" id="city" name="city" required>
  </div>

  <div class="mb-3">
    <label for="state" class="form-label">State</label>
    <input type="text" class="form-control" id="state" name="state" required>
  </div>

  <div class="mb-3">
    <label for="address_line" class="form-label">Address Line</label>
    <textarea class="form-control" id="address_line" name="address_line" rows="3" required></textarea>
  </div>

  <div class="text-end">
    <button type="submit" class="btn btn-dark-gray">Save Address</button>
</div>
</form>
{% endblock %}  